@font-face {
  font-weight: 400;
  font-family: 'PT Sans';
  font-style: normal;
  src: 
    url('../fonts/web/ptsans.woff2') format('woff2'),
    url('../fonts/web/ptsans.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: 'PT Sans';
  font-style: normal;
  src: 
    url('../fonts/web/ptsansbold.woff2') format('woff2'),
    url('../fonts/web/ptsansbold.woff') format('woff');
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  font-family: 'PT Sans';
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*___________________HEADER________________*/

.nav {
  min-width: 1200px;
  height: 56px;

  margin-left: -40px;
  font-weight: bold;

  font-size: 14px;
  line-height: 26px;

  color: #000000;
  background-color: #ffffff;
}

.nav-list {
  display: flex;
  flex-direction: row;

  align-items: flex-start;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  
  padding: -1px;
  list-style: none;
}

.nav-item {
  width: 239px;
  height: inherit;

  padding-top: 22px;
  padding-bottom: 22px;

  text-align: center;
}

.nav_item-img {
  width: 244px;
  height: inherit;

  padding-top: 0;
  text-align: center;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  color: #000000;
}

.nav-list a:hover {
  color: #81b3d2;
}

.nav-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*________________FOOTER__________________*/

.footer {
  display: block;

  background-color: #ffffff;
  opacity: 0.9;
}

.footer_tag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: #000000;
}

.footer-pic {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: #000000;
}

.socials_list {
  list-style: none;
}

.social_link {
  display: inline-block;

  width: 46px;
  height: 48px;
  vertical-align: middle;

  text-align: center;

  background-color: #81b3d2;
}

.social__link_img--tw {
  padding-top: 17px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 15px;
}

.social__link_img--fb {
  padding-top: 13px;
  padding-right: 17px;
  padding-bottom: 13px;
  padding-left: 18px;
}

.social__link_img--yt {
  padding-top: 16px;
  padding-right: 13px;
  padding-bottom: 16px;
  padding-left: 13px;
}

.social_link:hover {
  background-color: #669ec0;
}

.social_link:active {
  background-color: #5496bd;
}

.social__link_img--tw:active,
.social__link_img--fb:active,
.social__link_img--yt:active {
  opacity: 0.3;
}

.htmlacademy-logo svg path {
  fill: #231f20;
}

.htmlacademy-logo:hover path {
  fill: #81b3d2;
}

.htmlacademy-logo:active path {
  fill: #bdbbbc;
}

/*________________INDEX.HTML______________*/

.main_greeting {
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: -56px;
  background-size: 1200px 773px;
}

.greeting_title {
  display: inline-block;
  margin-top: 76px;
  margin-right: 371px;
  margin-bottom: 288px;

  margin-left: 370px;
}

.description {
  width: 1200px;
  height: 216px;

  background-color: white;
}

.description_slogan {
  display: block;

  width: 440px;
  height: 48px;
  margin-top: 61px;
  margin-right: auto;
  margin-bottom: 107px;
  margin-left: auto;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.description_text {
  display: block;

  margin-top: 38px;
  margin-right: auto;
  margin-bottom: 56px;
  margin-left: auto;

  font-weight: normal;

  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.main_town {
  width: 400px;
  height: 256px;
  font-weight: normal;

  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
  background-color: #81b3d2;
}

.main_town-content {
  font-weight: bold;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #81b3d2;
}

/*.main_town-img{}*/

.feutures {
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.feutures h3 {
  font-weight: bold;
  font-size: 21px;

  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.evil_bridge {
  width: 400px;
  height: 256px;
  font-weight: normal;
  font-size: 14px;

  line-height: 21px;
  text-align: center;

  color: #ffffff;
  background-color: #81b3d2;
}

.evil_bridge-title {
  font-weight: bold;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #81b3d2;
}

.advantages {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #333333;
  background-color: #eeeeee;
}

.advantages h3 {
  font-weight: bold;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #eeeeee;
}

.advantages-list {
  list-style: none;
}

.search_ask {
  font-weight: bold;

  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
}

.search_ask-description {
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
}

.find_hotel-form input {
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: left;

  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.find_hotel-form input:hover {
  background-color: #ebebeb;

  border: none;
}

.find_hotel-form input:focus {
  background-color: #ffffff;

  border: 2px solid #e5e5e5;
}

#adult, 
#children{
  text-align: center;
}

.find_hotel {
  width: 568px;
  height: 86px;
  font-weight: bold;

  font-size: 21px;

  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
}

.find_hotel:hover {
  background-color: #604e43;
}

.find_hotel:focus {
  background-color: #503e33;
}

.input_search {
  width: 458px;
  height: 58px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.map {
  position: absolute;
  z-index: -1;

  width: 1200px;
  height: 593px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/*________________________INNER.HTML_______________*/

.hotel_search-fieldset,
.hotel_type-fieldset,
.hotel_price-fieldset {
  border: none;
}

.hotel_search-form {
  background-image: url("../img/filter-background.png");
}

.infrastucture {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}

.hotel_search-form ul {
  list-style: none;
}

.infrastucture-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

.hotel_type {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}

.hotel_type-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

.hotel_price {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}

.hotel_price-section input[type="text"] {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
  text-transform: uppercase;
  background-color: inherit;
  border: solid 2px #ffffff;
}

.hotel_price-button {
  width: 133px;
  height: 32px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  text-transform: uppercase;
  background-color: inherit;
  border: solid 2px #ffffff;
}

.hotel_price-button:hover {
  color: #000000;

  background-color: #ffffff;
}

.infrastucture-list input[type="checkbox"]:checked,
.infrastucture-list input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.infrastucture-list input[type="checkbox"]:checked+label,
.infrastucture-list input[type="checkbox"]:not(:checked)+label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

.infrastucture-list input[type="checkbox"]:checked+label:before,
.infrastucture-list input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -13px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: 2px solid #ffffff;

  border-radius: 2px;
}

.infrastucture-list input[type="checkbox"]:checked+label:after,
.infrastucture-list input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: -8px;
  width: 18px;
  height: 7px;
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-radius: 1px;
  transform: rotate(-45deg);
}

.infrastucture-list input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

.infrastucture-list input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

.results-text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: #000000;
  background-color: #ffffff;
}

.sorting-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
  background-color: #ffffff;
}

.hotels_list {
  list-style: none;
}

/* отели*/
.amara-resort_name,
.desert-quill_name,
.villas-diablo_name {
  font-weight: bold;

  font-size: 21px;
  line-height: 26px;

  color: #000000;
  background-color: #ffffff;
  border: none;
}

.amara-resort_name:hover,
.desert-quill_name:hover,
.villas-diablo_name:hover {
  color: #81b3d2;
}

.amara-resort_name:active,
.desert-quill_name:active,
.villas-diablo_name:active {
  color: rgba(0, 0, 0, 0.3);
}

.amara-resort_type,
.amara-resort_price,
.desert-quill_type,
.desert-quill_price,
.villas-diablo_type,
.villas-diablo_price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #333333;
  background-color: #ffffff;
}

.amara-resort_rate,
.desert-quill_rate,
.villas-diablo_rate {
  width: 110px;
  height: 27px;
  font-weight: normal;

  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #666666;
  background-color: #f2f2f2;
}

.amara-resort_more,
.villas-diablo_more,
.desert-quill_more {
  width: 110px;
  height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.amara-resort_more:hover,
.villas-diablo_more:hover,
.desert-quill_more:hover {
  background-color: #669ec0;
}

.amara-resort_more:active,
.villas-diablo_more:active,
.desert-quill_more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.amara-resort_reserve,
.desert-quill_reserve,
.villas-diablo_reserve {
  width: 142px;
  height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.amara-resort_reserve:hover,
.desert-quill_reserve:hover,
.villas-diablo_reserve:hover {
  background-color: #604e43;
}

.amara-resort_reserve:active,
.desert-quill_reserve:active,
.villas-diablo_reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
