@font-face {
  font-weight: 400;
  font-family: 'PT Sans';
  font-style: normal;
  src: 
    url('../fonts/web/ptsans.woff2') format('woff2'),
    url('../fonts/web/ptsans.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: 'PT Sans';
  font-style: normal;
  src: 
    url('../fonts/web/ptsansbold.woff2') format('woff2'),
    url('../fonts/web/ptsansbold.woff') format('woff');
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  font-family: 'PT Sans';
  color: black;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 25px -10px rgba(0,0,0,0.5);
}

.main-container {
  background-color: white;
}
/*___________________HEADER________________*/

.nav {
  width: 1200px;
  height: 56px;

  margin: 0;
  padding: 0;

  font-weight: bold;

  font-size: 14px;
  line-height: 26px;

  color: black;
  background-color: white;
}

.nav-list {

  display: flex;

  width: 1200px;
  margin : 0;
  padding: 0;
  list-style: none;
}

.nav-item:nth-child(2) {
  margin-right: 244px;
}

.nav-item {
  width: 239px;
  height: 56px;
}

.nav-list a {
  display: inline-block;
  width: 100%;
  line-height: 56px;

  text-align: center;
  color: black;
}

.nav_item-img {
  position: absolute;

  padding-top: 0;
  padding-left: 529px;
}

.nav-list a:hover {
  color: #81b3d2;
}

.nav-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*________________FOOTER__________________*/

.footer {
  display: flex;

  width: 1200px;
  min-height: 120px;

  background-color: white;
  opacity: 0.9;

  border: 1px solid black;
}

.footer_tag {
  display: block;

  width: 136px;
  min-height: 16px;

  margin-top: 51px;
  margin-bottom: 53px;
  margin-left: 132px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: black;
}

.footer-pic {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: black;
}

.socials_list {
  display: flex;
  justify-content: space-between;

  width: 150px;

  margin-left: 256px;
  margin-top: 36px;
  margin-bottom: 36px;

  list-style: none;
}

/*.social_item {
  height: 48px;
}*/

.social_link {
  display: block;

  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social__link_img--tw {
  padding-top: 17px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-left: 15px;
}

.social__link_img--fb {
  padding-top: 13px;
  padding-right: 17px;
  padding-bottom: 13px;
  padding-left: 18px;
}

.social__link_img--yt {
  padding-top: 16px;
  padding-right: 13px;
  padding-bottom: 16px;
  padding-left: 13px;
}

.social_link:hover {
  background-color: #669ec0;
}

.social_link:active {
  background-color: #5496bd;
}

.social__link_img--tw:active,
.social__link_img--fb:active,
.social__link_img--yt:active {
  opacity: 0.3;
}

.site_by {
  display: inline-block;

  margin-top: 54px;
  margin-bottom: 55px;
  margin-left: 228px;
}

.htmlacademy-logo {
  display: inline-block;

  margin-top: 39px;
  margin-bottom: 40px;
  margin-left: 228px;
}

.htmlacademy-logo svg path {
  fill: #231f20;
}

.htmlacademy-logo:hover path {
  fill: #81b3d2;
}

.htmlacademy-logo:active path {
  fill: #bdbbbc;
}

/*________________INDEX.HTML______________*/

.main_greeting {
  width: 1200px;
  height: 509px;

  background:  url("../img/background-photo.jpg") 0 -80px no-repeat;
  background-size: 1200px 773px;
}

.main_greeting::after {

  content: "";
  position: absolute;
  width: 1200px;
  min-height: 59px;

  margin-top: -55px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.greeting_title {
  display: block;
  
  margin-right: auto;
  margin-left: auto;
  padding-top: 76px;
  padding-bottom: 80px;
}

.welcome-mask {
  position: absolute;
  bottom: 148px;
  left: 160px;
}

.welcome-mask img {
  width: 1200px;
  height: 59px;
}

.description {
  display: flex;
  flex-direction: column;

  width: 1200px;
  min-height: 216px;

  margin:0;
  padding:0;
}

.description_slogan {

  min-width: 440px;
  min-height: 48px;
  margin:0;
  margin-right: auto;
  margin-left: auto;
  padding:0;
  padding-top: 60px;
  padding-bottom: 38px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.description_text {
  width: 489px;
  min-height: 13px;
  margin-top: 0;

  margin-right: auto;
  margin-bottom: 56px;
  margin-left: auto;

  font-weight: normal;

  line-height: 26px;
  color: #333333;
}

.main_town {
  display: flex;

  width: 1200px;
  min-height: 256px;
  background-color: #81b3d2;
}

.main_town-text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 146px;

  background-color: #81b3d2;
}

.main_town-content {
  margin: 0;
  padding: 0;
  
  padding-top: 46px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.main_town-number,
.main_town-text {
  font-weight: normal;

  line-height: 21px;
  text-align: center;

  color: white;
}

.feutures {
  display: flex;
  justify-content: space-around;

  width: 1200px;
  min-height: 330px;

  font-weight: normal;
  font-size: 14px;

  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: white;
}

.feautures-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  width: 282px;
  min-height: 185px;

  padding: 60px 0 85px 0;

  text-align: center;
}

.feutures h3 {
  font-weight: bold;
  font-size: 21px;

  line-height: 21px;
  color: black;
}

.feautures-img {
  margin-right: auto;
  margin-left: auto;
}

.evil_bridge {
  display: flex;

  width: 1200px;
  min-height: 256px;
  color: white;
  background-color: #81b3d2;
}

.evil_bridge-text-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 146px;
}

.evil_bridge-title {
  margin: 0;
  padding: 0;

  padding-top: 46px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.evil_bridge-number,
.evil_bridge-text {
  font-weight: normal;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advantages {
  width: 1200px;
  min-height: 256px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #333333;
  background-color: #eeeeee;
}

.advantages-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-item{
  width: 400px;
  min-height: 256px;
}

.advantages-item_title {
  font-weight: bold;

  font-size: 21px;
  color: black;
}

.advantages-item p {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}

.advantages-item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 142px;

  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 63px;
  margin-left: auto;

  padding: 0;
}

.large_area-container {
  width: 210px;
}

.beutiful_road-container {
  width: 265px;
}

.few_tourists-container {
  width: 250px;
}

.search {
  width: 1200px;
  min-height: 291px;

  margin-bottom: 473px;
}

.search::after {
  content: "";
  position: absolute;
  width: 1200px;
  min-height: 593px;

  margin: 0;
  padding: 0;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.find_hotel-form-container {
  padding-left: 55px;
}

.search_text-container {
  display: block;

  width: 434px;
  min-height: 96px;
  margin-top: 57px;
  margin-right: auto;
  margin-bottom: 138px;

  margin-left: auto;
}

.visually-hidden-form {
  position:absolute;
  z-index: 50;

  left: 25%;
  right: 25%;

  width: 568px;
  min-height: 395px;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  background-color: white;
}

.search_ask {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  text-align: center;
  color: black;
  background-color: white;
}

.search_ask-description {
  font-weight: normal;
  font-size: 14px;

  line-height: 24px;
  text-align: center;
  color: #333333;
  background-color: white;
}

.find_hotel {
  display: block;

  margin-left: auto;
  margin-right: auto;

  width: 568px;
  min-height: 86px;
  font-weight: bold;

  font-size: 21px;

  color: white;
  text-transform: uppercase;
  background-color: #766357;
}

.find_hotel:hover,
.find_hotel:focus {
  background-color: #604e43;
}

.find_hotel:active {
  background-color: #503e33;
}

.date_check_in-item,
.date_check_out-item {
  display: inline-block;

  margin-left: 55px;
}

.date_check_in-inp,
.date_check_out-inp {
  display: inline-block;

  width: 346px;
  height: 38px;

  font: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: left;

  color: black;
  background-color: #f2f2f2;
  border: none;
}

.date_check_in-inp {
  margin-top: 55px;
  margin-left: 21px;
}

.date_check_out-inp {
  margin-top: 29px;
  margin-left: 17px;
  margin-bottom: 30px; 
}

.date_check_in-inp:hover,
.date_check_out-inp:hover {
  background-color: #ebebeb;
}

.date_check_in-inp:focus,
.date_check_out-inp:focus {
  background-color: white;

  border: 2px solid #e5e5e5;
}

.adault-item,
.children-item {
  display: inline-block;

  padding: 0;
  margin-left: 55px;
}

.adault-item {
  margin-left: 55px;
}

.children-item {
  margin-left: 51px;
}

.adault_count,
.children_count {
  display: inline-block;

  width: 114px;
  height: 38px;
  padding: 0;

  text-align: center;

  background-color: #f2f2f2;

  border: none;
}

.adault_count {
  margin-left: 36px;
}

.children_count {
  margin-left: 24px;
}

.search-btn {
  display: block;

  margin-bottom: 55px;
  margin-top: 54px;

  margin-left: auto;
  margin-right: auto;

  width: 458px;
  min-height: 58px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  text-align: center;
  color: white;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #669ec0;
}

.search-btn:active {
  background-color: #5496bd;
  opacity: 0.7;
}

/*________________________INNER.HTML_______________*/

.hotel_search-fieldset,
.hotel_type-fieldset,
.hotel_price-fieldset {
  border: none;
}

.hotel_search-form {
  display: flex;
  width: 1200px;
  min-height: 217px;

  background-image: url("../img/filter-background.png");
  border: 1px solid black;
}

.hotel_search-section {
  display: flex;
  flex-direction: column;

  min-width: 139px;
  min-height: 170px;
  border: 1px solid black;
}

.hotel_type-section {
  display: flex;
  flex-direction: column;

  min-width: 139px;
  min-height: 170px;
  border: 1px solid black;
}

.hotel_price-section {
  display: flex;
  flex-direction: column;

  min-width: 139px;
  min-height: 170px;
  border: 1px solid black;
}

.infrastucture {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  color: white;
}

.hotel_search-form ul {
  list-style: none;
}

.infrastucture-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: white;
}

.hotel_type {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  color: white;
}

.hotel_type-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: white;
}

.hotel_price {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  color: white;
}

.hotel_price-section input[type="text"] {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: white;
  text-transform: uppercase;
  background-color: inherit;
  border: solid 2px white;
}

.hotel_price-button {
  width: 133px;
  min-height: 32px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: white;

  text-transform: uppercase;
  background-color: inherit;
  border: solid 2px white;
}

.hotel_price-button:hover {
  color: black;

  background-color: white;
}

.infrastucture-list input[type="checkbox"]:checked,
.infrastucture-list input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.infrastucture-list input[type="checkbox"]:checked+label,
.infrastucture-list input[type="checkbox"]:not(:checked)+label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

.infrastucture-list input[type="checkbox"]:checked+label:before,
.infrastucture-list input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -13px;
  width: 20px;
  min-height: 20px;
  background-color: inherit;
  border: 2px solid white;

  border-radius: 2px;
}

.infrastucture-list input[type="checkbox"]:checked+label:after,
.infrastucture-list input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: -8px;
  width: 18px;
  min-height: 7px;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-radius: 1px;
  transform: rotate(-45deg);
}

.infrastucture-list input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

.infrastucture-list input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

.search-container {
  display: flex;

  flex-direction: column;
  align-items: stretch;

  width: 1200px;
  min-height: 540px;

  border: 1px solid black; /*Вспомогательный бордер*/
}

.find_hotel-result {
  display: flex;

  min-height: 86px;
  font-size: 0;
  border: 1px solid black; /*Вспомогательный бордер*/
}

.sorting_per-price,
.sorting_per-type,
.sorting_per-rate {
  min-width: 75px;
  margin-top: 41px;
  margin-bottom: 35px;

  margin-left: 40px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: rgba(0, 0, 0, 0.3);
}

.results-text {
  margin-top: 31px;
  margin-bottom: 33px;
  margin-left: 72px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: black;
  background-color: white;
}

.sorting-text {
  margin-top: 41px;
  margin-bottom: 37px;

  margin-left: 49px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: black;
  background-color: white;
}

.arrow_up,
.arrow_down {
  margin-top: 40px;
  margin-bottom: 36px;
  margin-left: 200px;
}

.hotels_list {
  list-style: none;
}

/* отели*/
.amara-resort {
  display: flex;

  width: 1200px;
  min-height: 150px;

  margin: 0;

  border: 1px solid black;
}

.desert-quill {
  display: flex;

  width: 1200px;
  min-height: 150px;

  margin: 0;

  border: 1px solid black;
}

.villas-diablo {
  display: flex;

  width: 1200px;
  min-height: 150px;

  margin: 0;

  border: 1px solid black;
}

.amara-resort_name,
.desert-quill_name,
.villas-diablo_name {
  font-weight: bold;

  font-size: 21px;
  line-height: 26px;

  color: #000000;
  background-color: white;
  border: none;
}

.amara-resort_name:hover,
.desert-quill_name:hover,
.villas-diablo_name:hover {
  color: #81b3d2;
}

.amara-resort_name:active,
.desert-quill_name:active,
.villas-diablo_name:active {
  color: rgba(0, 0, 0, 0.3);
}

.amara-resort_type,
.amara-resort_price,
.desert-quill_type,
.desert-quill_price,
.villas-diablo_type,
.villas-diablo_price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #333333;
  background-color: white;
}

.amara-resort_rate,
.desert-quill_rate,
.villas-diablo_rate {
  width: 110px;
  min-height: 27px;
  font-weight: normal;

  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #666666;
  background-color: #f2f2f2;
}

.amara-resort_more,
.villas-diablo_more,
.desert-quill_more {
  width: 110px;
  min-height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  color: white;

  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.amara-resort_more:hover,
.villas-diablo_more:hover,
.desert-quill_more:hover {
  background-color: #669ec0;
}

.amara-resort_more:active,
.villas-diablo_more:active,
.desert-quill_more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.amara-resort_reserve,
.desert-quill_reserve,
.villas-diablo_reserve {
  width: 142px;
  min-height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  color: white;

  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.amara-resort_reserve:hover,
.desert-quill_reserve:hover,
.villas-diablo_reserve:hover {
  background-color: #604e43;
}

.amara-resort_reserve:active,
.desert-quill_reserve:active,
.villas-diablo_reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
